/*
#sidebar {
  width: 350px;
  padding: 30px;
  position: fixed;
  right: 0px;
}

#shopping-cart-button {
  all: unset;
  display: none;
}

#cart {
  min-height: 200px;
  width: 360px;
  border: 3px solid #5D6D7E;
  border-radius: 5px;
  background-color: #5D6D7E;
  color: #F2F4F4;
  float: right;
}

#cart-close {
  display: none;
  background-color: #F2F4F4;
}

#cart-content {
  padding: 10px 0 20px 0;
}

.cart__info {
  margin: 0;
  padding: 15px 0 0 15px;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr 20px 20px;
}

.cart-item__photo {
  max-width: 70px;
}

.cart-item__quantity {
  margin-top: -5px;
}

.cart-item__remove {
  border: none;
  background-color: #5D6D7E;
  color: #F2F4F4;
  height: 20px;
  padding: 0;
  align-self: center;
  cursor: pointer;
}

@keyframes slide-in {
  from {left: 330px;}
  to {left: 0;}
}

@media (max-width: 600px) {
  #sidebar {
    width: 90%;
    padding: 0;
    top: 100px;
  }

  #cart {
    position: relative;
    border-radius: 5px 0 0 5px;
    animation-name: slide-in;
    animation-duration: 1s;
    grid-template-columns: 1fr 8fr;
  }
  
  #cart-close {
    display: block;
  }

  #cart-close > button {
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  #shopping-cart-button {
    display: unset;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 32px;
  }

  #shopping-cart-icon {
    font-size: 30px;
    color: #F2F4F4;
  }

  #shopping-cart-quantity {
    float: right;
    font-size: 12px;
    width: 16px;
    text-align: center;
    border: 3px solid #5D6D7E;
    border-radius: 50%;
    background-color: #F2F4F4;
    color: #935116;
    position: relative;
    top: -10px;
    left: -14px;
  }
  
}
*/