body {
  background-color: #F2F4F4;
  margin: 0;
  padding: 0 60px;
}

header {
  position: fixed;
  width: 100%;
  margin-left: -60px;
  padding: 30px;
  background-color: #5D6D7E;
}

#paw-icon {
  padding-right: 5px;
  position: relative;
  top: 5px;
  font-size: 36px;
}

#header__title {
  margin: 0;
  color: #F2F4F4;
}

@media (max-width: 600px) {
  body {
    padding: 0 30px;
  }

  header {
    margin: 0 -30px;
  }

  #paw-icon {
    font-size: 24px;
  }

  #header__title {
    font-size: 16px;
  }
}

#content {
  padding-top: 104px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#display {
  height: 100px;
  border-bottom: 1px solid #5D6D7E;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.filter__options {
  width: 150px;
  padding: 2px;
  font-size: 14px;
}

@media (max-width: 600px) {
  #content {
    display: block;
  }

  #display {
    padding: 10px 0;
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

#items {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.item {
  width: 250px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  background-color: #EBEDEF;
}

@media (max-width: 600px) {
  #items {
    padding: 0;
    grid-template-columns: unset;
  }
}

.modalClick {
  cursor: pointer;
  border: none;
}

.item__title {
  color: #212F3C;
  margin: 10px;
}

.item__price {
  color: #935116;
  margin: 10px;
}

.item__available-sizes {
  padding: 7px 10px;
  border: 1px groove #F2F4F4;
  margin: 0 -0.5px;
}

#sidebar {
  width: 350px;
  padding: 30px;
  position: fixed;
  right: 0px;
}

#shopping-cart-button {
  all: unset;
  display: none;
}

#cart {
  min-height: 200px;
  width: 360px;
  border: 3px solid #5D6D7E;
  border-radius: 5px;
  background-color: #5D6D7E;
  color: #F2F4F4;
  float: right;
}

#cart-close {
  display: none;
  background-color: #F2F4F4;
}

#cart-content {
  padding: 10px 0 20px 0;
}

.cart__info {
  margin: 0;
  padding: 15px 0 0 15px;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr 20px 20px;
}

.cart-item__photo {
  max-width: 70px;
}

.cart-item__quantity {
  margin-top: -5px;
}

.cart-item__remove {
  border: none;
  background-color: #5D6D7E;
  color: #F2F4F4;
  height: 20px;
  padding: 0;
  align-self: center;
  cursor: pointer;
}

@keyframes slide-in {
  from {left: 330px;}
  to {left: 0;}
}

@media (max-width: 600px) {
  #sidebar {
    width: 90%;
    padding: 0;
    top: 100px;
  }

  #cart {
    position: relative;
    border-radius: 5px 0 0 5px;
    animation-name: slide-in;
    animation-duration: 1s;
    grid-template-columns: 1fr 8fr;
  }
  
  #cart-close {
    display: block;
  }

  #cart-close > button {
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  #shopping-cart-button {
    display: unset;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 32px;
  }

  #shopping-cart-icon {
    font-size: 30px;
    color: #F2F4F4;
  }

  #shopping-cart-quantity {
    float: right;
    font-size: 12px;
    width: 16px;
    text-align: center;
    border: 3px solid #5D6D7E;
    border-radius: 50%;
    background-color: #F2F4F4;
    color: #935116;
    position: relative;
    top: -10px;
    left: -14px;
  }
}

.modal__content {
  background-color: #F2F4F4;
  margin: auto;
  padding: 50px 0 50px 80px;
  width: 60%;
  position: relative;
  top: 10%;
}

.modal__close {
  position: relative;
  float: right;
  top: -60px;
  right: -10px;
  font-size: 3rem;
  width: 60px;
  cursor: pointer;
  border: 1px solid #5D6D7E;
  border-radius: 50%;
}

.modal__display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.modal__photo {
  width: 100%;
  min-width: 350px;
}

.modal__info > h2 {
  padding: 30px 0;
}

.modal__price {
  color: #935116;
}

.modal__choose-size {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
}

.modal__add-to-cart {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #24bd61;
  color: rgb(215, 221, 228);
  font-weight: 900;
}

@media (max-width: 600px) {
  .modal__content {
    width: 80%;
    padding: 20px 0 20px 40px;
  }

  .modal__display {
    grid-template-columns: unset;
    grid-gap: unset;
    justify-items: center;
  }

  .modal__close {
    font-size: 2rem;
    width: 40px;
    top: -30px;
    right: -10px;
  }

  .modal__photo {
    min-width: unset;
    max-width: 250px;
  }

  .modal__info {
    width: 250px;
  }

  .modal__info > h2 {
    font-size: 20px;
    padding: 0;
  }
}